<div class="callout fade in callout-warning">
    <div class="header">
        <i class="icon-warning"></i>
        <h3><?= \Lang::get('indikator.news::lang.backend_settings.email_view_tracking_warning.heading'); ?></h3>
        <p><?= \Lang::get('indikator.news::lang.backend_settings.email_view_tracking_warning.subheading'); ?></p>
    </div>
    <div class="content">
        <p>
            <?= \Lang::get('indikator.news::lang.backend_settings.email_view_tracking_warning.text'); ?>
        </p>
    </div>
</div>