
<button type="button" class="btn btn-warning" onclick='alert("<?php echo $record->app_key ?>")'><i class="icon-key"></i></button>
<a href=""><button type="button" class="btn btn-warning"><i class="icon-eye"></i></button></a>

 