<?php Block::put('breadcrumb') ?>
    <ul>
        <li>Apps</li>
        <li>
            <span class="text-info"><strong><?= Kodeartisan\Appkode4\Models\App::where('status', 'published')->count() ?></strong> Published</span>
            &nbsp; | &nbsp;
            <span class="text-danger"><strong><?= Kodeartisan\Appkode4\Models\App::where('status', 'suspended')->count() ?></strong> Suspended</span>
            &nbsp; | &nbsp;
            <span class="text-warning"><strong><?= Kodeartisan\Appkode4\Models\App::where('status', 'draft')->count() ?></strong> Draft</span>
        </li>
    </ul>
<?php Block::endPut() ?>

<?= $this->listRender() ?>
